.pageBox {
	background-color: white;
	border-radius: 10px;
	padding: 8px;
	margin: 10px auto;
	text-align: center;
	border: 4px solid black;
}

#explaination {
	width: 500px;
	height: 250px;
	color: #8F47B2;
}

#matrixEntry {
	height: 200px;
	width: 800px;
	margin:auto;
}

.button { 
	width: 100px;
	height: 30px;
	border: 5px solid #8F47B2;
	margin:10px;
	color: black;
	border-radius: 5px;
	text-align: center;
	background-color: white;
}

#enterInfo {
	margin: auto;
}

body {
	background-color: #8F47B2;
}

#warningBox {
	color: black;
	font-size: 20px;
	height: 200px;
	width: 200px;
}

#resultAndWarningBox {
	margin:auto;
}


